body {
  background-color: #393e46;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
p {
  color: #00adb5;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  top: 0;
  bottom: 120px;
  display: flex;
}
input[type="submit"] {
  background-color: #222831;
  color: #eeeeee;
  height: 35px;
  width: 120px;
  justify-content: center;
  display: flex;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}

/* Results Page */
audio {
  justify-content: center;
  display: flex;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}
