{% extends 'base.html' %}

{% block head %}
    <title>Home | Hackoverflow</title>
{% endblock %}

{% block body %}
    <form action = "/api" method = "POST" enctype="multipart/form-data">
        <p>Works best with JPG Image</p>
        <input type="file" id="file" name="img" accept="image/* " required>
        <label for="file">
            <i class="material-icons">
                add_photo_alternate
            </i>&nbsp;
            Choose an Image
        </label>
        <input type="submit">
    </form>
{% endblock %}